/* CSS Document */
.txt_system {
    color: skyblue;
}

body {
    font: 12px arial;
    color: none;
    padding: 2px; }
  
form, p, span {
    margin:0;
    padding:0; }
   
.link_id {
    color: yellowgreen;
    text-decoration: none; 
    margin-right: 10px;
    text-shadow: 0 0 1px #FFFF00;
    background-color: none; }

.txt_talk {
    color: gray;
    background-color: none;
    word-wrap: keep-all;
}

#chatbox, li {
    list-style-type: none;
    padding: 3px;
}
  
#wrapper {
    position: relative;
    height: 300px;
}  

#chatbox {
    text-align: left;
    position: absolute;
    bottom: 0;
    width: auto;
}

.box_alert {
    background-color: yellow;
    padding: 10px;
}

em,.screen_out {
    color: red;
    margin-right: 5px;    
}

strong,.screen_out {
    color: red;
    margin-right: 5px;    
}

.txt_name {
    color: yellowgreen;
    background-color: black;
    padding: 1px;
}

.txt_msg {
    color: black;
    margin: 5px;
}

.txt_cookie {
    color: gold;
    margin-right: 5px;
    background-color: black;
    padding: 1px;
}

.kakao_emoticon {
    padding: 10px;
}

.view_emot_detail {
    color: none;
    background-color: none;
    display: none;
}